.container {
    width: 300px;
    margin: auto;
    margin-top: 8px;
    padding: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .imageInput {
    margin-top: 8px; /* Adjust spacing as needed */
  }
  
  .imageLabel {
    margin-top: 16px;
    display: block;
  }
  