@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

* {
    scrollbar-width: none;
    /* Hides scrollbar on Firefox */
    -ms-overflow-style: none;
    /* Hides scrollbar on Internet Explorer and Edge */
}